<%= form_for(poker) do |f| %>
  <% if poker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poker.errors.count, "error") %> prohibited this poker from being saved:</h2>

      <ul>
      <% poker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" name="poker[user_story_id]" id="poker_user_story_id" value="<%= @us.id %>" >

  <div class="field">
    <span>Descrição da história de usuário</span>
    <%= @us.name %>
  </div>

  <div class="field">
    <label>Sua nota</label>
    <%= f.select :note,Dominio::FiboSequencia::DOMINIOS.map {|p| [ p[:value], p[:key] ]}%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
